<div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
  <div class="mb-3">
    <%= link_to "< Back to Habits", root_path, class: "text-indigo-600 hover:text-indigo-900 underline" %>
  </div>
  <div class="flex items-start justify-between">
    <div>
      <h1 class="font-bold text-3xl text-gray-900 mb-3">
        <%= @habit.title %>
      </h1>
      <%= frequency_badge(@habit) %>
    </div>
    <div class="flex space-x-2">
      <%= button_to habit_path(@habit), method: :delete, class: "inline-flex items-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-red-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600", data: {turbo_confirm: 'Are you sure?'} do %>
        <span>Delete habit</span>
      <% end %>
      <%= link_to edit_habit_path(@habit), class: "inline-flex items-center rounded-md bg-gray-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-gray-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600" do %>
        <span>Edit habit</span>
      <% end %>
    </div>
  </div>
  <div class="mt-4">
    <% if @habit.description.present? %>
      <p class="text-gray-600"><%= @habit.description %></p>
    <% else %>
      <p class="text-gray-400">No description provided.</p>
    <% end %>
  </div>
  <div class="mt-6">
    <% unless @habit.completed? %>
      <%= form_with(model: [:habits, @habit.completions.new], url: habit_completions_path(@habit), method: :post) do |form| %>
        <div class="flex space-x-2">
          <%= form.submit "Complete Habit", class: "inline-flex items-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-green-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600" %>
        </div>
      <% end %>
      <div class="mt-4"></div>
        <ul class="list-disc pl-5 text-gray-700">
          <% @habit.completions.for_frequency(@habit.frequency).each do |completion| %>
            <li><%= completion.created_at.strftime("%B %d, %Y") %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="relative mt-6">
      <div aria-hidden="true" class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-center">
        <span class="bg-white px-3 text-base font-semibold text-gray-900">Completions</span>
      </div>
    </div>

    <div class="mt-4">
      <ul class="list-none pl-5 text-gray-700">
        <% @habit.completions.for_frequency(@habit.frequency).each do |completion| %>
          <li class="flex items-center space-x-2">
            <svg class="w-6 h-6 text-green-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
              <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z" clip-rule="evenodd"/>
            </svg>
            <span>
              <%= completion.completed_at.strftime("%B %d, %Y") %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
</div>
